.placeholder input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #c4c4c4;
}

.placeholder input[type='date']:focus::before,
.placeholder input[type='date']:valid::before {
  display: none;
}
